<header class="task-list-header">

  <div class="field">
    <div class="ui labeled input">
      <div class="ui label">
        {{'TASK.SORT_BY' | translate}}
      </div>
      <sui-select class="selection"
                  [(ngModel)]="selectedSortOption"
                  [options]="sortOptions"
                  #sortSelect
                  labelField="name">
        <sui-select-option *ngFor="let o of sortSelect.filteredOptions" [value]="o"></sui-select-option>
      </sui-select>
    </div>
  </div>


  <div class="checkboxes">
    <sui-checkbox class="toggle" [(ngModel)]="showCompletedTasks">
      {{'TASK.COMPLETED' | translate}}
    </sui-checkbox>
    <sui-checkbox class="toggle" [(ngModel)]="showCurrentTasks">
      {{'TASK.CURRENT' | translate}}
    </sui-checkbox>
  </div>


</header>

<section class="task-list-container" [hidden]="!tasks || !tasks.length">

  <div class="task-list-item-wrapper"
       *ngFor="let task of getTaskList()">

    <div class="task-list-item ui segment raised"
         *ngIf="displayTask(task)"
         [ngClass]="{'completed': task.completed, 'edited': selectedTask.id === task.id}">
      <label class="ui horizontal label"
             [ngClass]="{'yellow': task.priority === 0,
                         'orange': task.priority === 1,
                         'red': task.priority === 2}">
        {{'TASK.PRIORITIES.' + task.priority | translate}}
      </label>

      <h5 class="task-name overflow-ellipsis">{{task.name}}</h5>

      <div class="list-item-right-side">
        <p class="date">{{ getTaskDate(task) | date : 'mediumTime'}}</p>
        <i class="ui icon check" (click)="setCompleted(task)"></i>
        <i class="ui icon pencil alternate" (click)="editTask(task)"></i>
        <i class="ui icon trash" (click)="deleteTask(task)"></i>
      </div>
    </div>
  </div>

</section>
