@import "~style/variables.scss";

.task-list-header {
  padding: 15px;

  .field {
    width: 350px;
  }

  .field, .checkboxes {
    display: inline-block;
  }

  .label {
    background-color: whitesmoke;
  }

  .checkboxes {
    float: right;
    sui-checkbox {
      display: inline-block;
      margin: 10px 15px 0 15px;
      font-family: Montserrat, sans-serif;
    }
  }

  @include media-breakpoint-down(md) {
    .checkboxes {
      float: unset;
      width: 100%;
      margin-top: 10px;
    }
  }

}

.task-list-container {
  max-height: calc(80vh - 290px);
  overflow: auto;
  border-top: 5px solid whitesmoke;
  width: 100%;

  .task-list-item {
    border-bottom: 1px solid whiteSmoke !important;
    margin: 0;

    .label {
      text-transform: uppercase;
      font-weight: 600;
      width: 100px;
      color: white;
      margin-top: 10px;
      float: left;
    }

    .task-name {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      width: calc(100% - 400px);
    }

    .list-item-right-side {
      float: right;

      .date {
        display: inline-block;
        color: gray;
        margin-right: 10px;
      }

      i {
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        top: 15px;
        color: gray;
        background: whitesmoke;
        border-radius: 50%;
        font-size: 1.2rem;

        &:hover {
          cursor: pointer;
          color: $primaryColor;
        }

      }

    }

    &.completed {
      .task-name {
        text-decoration: line-through;
        color: lightgrey;
      }

      .check {
        color: white !important;
        background: $checkGreen !important;
      }

      .label {
        opacity: 0.2;
      }
    }

    &.edited {
      .pencil {
        color: white !important;
        background: $editYellow !important;
      }
    }

  }

}
